/* src/components/FirstSection.css */


.full-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    /* background: url('your-background-image.jpg') no-repeat center center/cover; */
    filter: brightness(60%);
  }
  
  .text-overlay {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .text-overlay h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .text-overlay p {
    font-size: 1.2rem;
  }

  .inline {
display: inline;  
}
  
.sorcero {
  background-image: url(../assets/Project_img/sorcero.jpg);
}

/* TextScroll.css */
.scroll-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Ensures text stays on a single line */
  scroll-behavior: smooth; /* Smooth scrolling */
  border: 1px solid #ccc; /* Optional: border to indicate the scrollable area */
  padding: 10px; /* Optional: add padding to the container */
}

.scroll-text {
  font-size: 24px; /* Adjust the size */
  display: inline-block; /* Make text scroll horizontally */
  min-width: 100%; /* Ensure the text takes the full width initially */
}


.section1 {
  height: 350vh; 
}


.sectionCarousel {
  width: 1500px;
}

.wid {
  width: 500px;

}

.qh2 {
  font-size: 7rem;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  font-family: Nunito;
}
.qh2s {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  font-family: Nunito;
}

.qh3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  font-weight: 100;
  font-family: Nunito;
}

.qh4 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  font-weight: 100;
  font-family: Nunito;
}


.Question1 {
  font-size: 10rem;
  font-family: Nunito;
}


.Question2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #212226;
  font-weight: 100;
  padding-bottom: 1rem;
  font-family: Nunito;
}


.Question3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #212226;
  font-weight: 300;
  padding-bottom: 1rem;
  font-family: Nunito;
}



.worknum{
  font-size: 16rem;
  font-family: Nunito;
  color: white;
  font-weight: 100;
}

.logo {
  font-size: 2rem;
  font-family: Nunito;
  font-weight: 200;
}

.servicesbg {
  background-color: #E4E4DF;
}

.Servicestxt {
  font-size: 6rem;
  font-family: Nunito;
  font-weight: 200;
}

.descriptiontxt{
  font-size: 1rem;
  font-family: Nunito;
}

.descriptionwid{
  background-color:#ffffff;
height:250px;
min-width: 400px;
border-radius:12px;
display:flex;
flex-direction:column;
margin: 20px;
}

.descriptionwidmob{
  margin-top: 30px;
  background-color:#ffffff;
border-radius:12px;
display:flex;
flex-direction:column;
}

textarea {
  height: 150px;
}




.image-container {
  position: relative;
  overflow: hidden; /* Hide overflow */
}

.img-fluid {
  width: 100%; /* Image will take the full width of the container */
  height: 100%; /* Image will take the full height of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with 90% opacity */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease; /* Transition for smooth effect */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}


.carousel-control-prev {
  width: 3% !important; 
  opacity: 0.1 !important;

}

.carousel-control-next {
  width: 3% !important; 
  opacity: 0.1 !important;
}
.carousel-indicators{
  opacity: 0.1;
}
