/* src/components/FirstSection.css */


.full-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    /* background: url('your-background-image.jpg') no-repeat center center/cover; */
    filter: brightness(60%);
  }
  
  .text-overlay {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .text-overlay h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .text-overlay p {
    font-size: 1.2rem;
  }

  .inline {
display: inline;  
}
  
.sorcero {
  background-image: url(../assets/sorcero.jpg);
}

/* TextScroll.css */
.scroll-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Ensures text stays on a single line */
  scroll-behavior: smooth; /* Smooth scrolling */
  border: 1px solid #ccc; /* Optional: border to indicate the scrollable area */
  padding: 10px; /* Optional: add padding to the container */
}

.scroll-text {
  font-size: 24px; /* Adjust the size */
  display: inline-block; /* Make text scroll horizontally */
  min-width: 100%; /* Ensure the text takes the full width initially */
}


.section1 {
  height: 350vh; 
}


.qh2 {
  font-size: 7rem;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  font-family: Nunito;
}
.qh2s {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  font-family: Nunito;
}

.qh3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  font-weight: 100;
  font-family: Nunito;
}

.qh4 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  font-weight: 100;
  line-height: 10px;
  font-family: Nunito;
}


.Question1 {
  font-size: 10rem;
  font-family: Nunito;
}


.Question2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #212226;
  font-weight: 100;
  padding-bottom: 1rem;
  font-family: Nunito;
}


.Question3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #212226;
  font-weight: 300;
  padding-bottom: 1rem;
  font-family: Nunito;
}



.worknum{
  font-size: 20rem;
  font-family: Nunito;
  color: white;
  font-weight: 100;
}

.logo {
  font-size: 2rem;
  font-family: Nunito;
  font-weight: 200;
}

.servicesbg {
  background-color: #E4E4DF;
}

.Servicestxt {
  font-size: 6rem;
  font-family: Nunito;
  font-weight: 200;
}

.descriptiontxt{
  font-size: 1rem;
  font-family: Nunito;
  font-weight: 400;
  width: 360px;
}

.descriptionwid{
  background-color:#ffffff;
height:250px;
width: 400px;
border-radius:12px;
display:flex;
flex-direction:column;
margin: 20px;
}



.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}